.socialContainer {
    padding: 25px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    padding-left: 20px;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.gitHub {
    color: black;
  }

  a.linkedIn {
    color: black;
  }

  a.email {
    color: black;
  }

  @media only screen and (max-width: 600px) {
    .socialContainer {
      padding-left: 0px;
    }
  }
      
  